h1{
    color: red;
}

h2 {
    background-color: red;
    color: white;
}
p.saldo{
    font-weight: bold;
}

div.prenotazione{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    max-width: 200px;

}